* {
  box-sizing: border-box;
}

body {
  margin: 0%;
  height: 100vh;
  background-color: whitesmoke;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #6441a5;
  background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
  background: linear-gradient(to right, #2a0845, #6441a5);
}

footer {
  position: fixed;
  height: 120px;
  display: flex;
  align-items: center;
  margin-top: auto;
  background: #6441a5;
  background: -webkit-linear-gradient(to left, #2a0845, #6441a5);
  background: linear-gradient(to left, #2a0845, #6441a5);
}

footer h3 {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 15px;
  margin-left: 40%;
  border-radius: 3px;
}

header > img {
  position: relative;
  height: 80%;
  margin-left: 10%;
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 300px;
}

.meme {
  position: relative;

  width: 100%;
  margin-left: 30%;
  margin-bottom: 30px;
  overflow: hidden;
}

.meme > img {
  border-radius: 10px;
  width: 30%;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  left: 60%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}

.meme-form {
  width: 90%;
  margin: 20px auto;

  display: flex;
  justify-content: space-between;
}

.meme-form > input {
  width: 45%;
  height: 40px;
  margin-right: 10px;
}

.meme-form > button {
  border: none;
  float: left;
  border-radius: 5px;
  font-family: VT323, monospace;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: white;
  background: #6441a5;
}

.meme-form > input::-webkit-input-placeholder {
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen;
}
